@page "/"

<h1>Descent Randomizer</h1>
<br />
<h2>Welcome to Descent Randomizer. This tool can be used to randomly select a group of heroes and classes for the game Descent - Journeys in the Dark (2nd Edition).</h2>