@inherits LayoutComponentBase

<RadzenNotification />
<RadzenDialog />
<RadzenTooltip />

<RadzenHeader>
    <div class="row align-items-center">
        <div class="col-6 d-flex align-items-center">
            <RadzenSidebarToggle Click="@(() => { sidebar.Toggle(); body.Toggle(); })" />
        </div>
        <div class="col-6 d-flex align-items-center">
        </div>
    </div>
</RadzenHeader>

<RadzenBody @ref="@body">
    <RadzenContentContainer Name="main">
        @Body
    </RadzenContentContainer>
</RadzenBody>

<RadzenSidebar @ref="@sidebar">
    <br />
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="Administration">
            <RadzenPanelMenuItem Text="Heroes" Path="/Heroes" Icon="account_circle" />
            <RadzenPanelMenuItem Text="Classes" Path="/Classes" Icon="account_circle" />
            <RadzenPanelMenuItem Text="Class Cards" Path="/ClassCards" Icon="account_circle" />
            <RadzenPanelMenuItem Text="Class Items" Path="/ClassItems" Icon="account_circle" />
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Randomizer">
            <RadzenPanelMenuItem Text="Single Character" Path="/Randomize/Character" Icon="account_circle" />
            <RadzenPanelMenuItem Text="Full Party" Path="/Randomize/Party" Icon="account_circle" />
        </RadzenPanelMenuItem>
    </RadzenPanelMenu>
</RadzenSidebar>

<RadzenFooter>
    <RadzenLabel Text="Descent Randomizer" />
</RadzenFooter>

@code {
    private RadzenSidebar sidebar;
    private RadzenBody body;
}